html {
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0.5em;
}

header {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

header, p, #top-bar {
        margin-bottom: 1em;
}

footer {
    background: green;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    font-size: small;
    position: absolute;
    bottom: 0;
    width: 100%;
}

code {
    font-family: monospace;
    background: lemonchiffon;
    border-radius: 4px;
    padding: 0.1em;
}

#top-bar {
    background: green;
    color: white;
    padding: 1em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

#header, a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#header, ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#header, ul, li {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.taxonomy{
    display: grid;
    grid: auto-flow / auto auto auto;
}

.taxonomy-item {
    color: black;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px black solid;
    border-radius: 0.25em;
}
