html {
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

footer {
    background: green;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    font-size: small;
    position: absolute;
    bottom: 0;
    width: 100%;
}

header {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

header, p, #header {
        margin-bottom: 1em;
}

#header {
    background: green;
    color: white;
    padding: 1em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

#header, a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
